<h1>Adicionar produto</h1>
<form action="{% url 'produtos:novo' %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite o nome" required>
    </p>

    <p>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" placeholder="Digite uma descrição" required>
    </p>

    <p>
        <label for="preco">Preço:</label>
        <input type="number" id="preco" name="preco" step="0.01" min="0" placeholder="Digite o preço" required>
    </p>

    <p>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" min="0" placeholder="Digite o estoque" required>
    </p>

    <button type="submit">Cadastrar produto</button>
</form>
<a href="{% url 'produtos:produtos' %}">Voltar para produtos</a>