{% extends 'core/base.html' %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-success text-white">

        <h3 class="mb-0">Adicionar Produto</h3>

    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" type="text" name="nome" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Descrição</label>
                <textarea class="form-control"
                          rows="3"
                          name="descricao"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Preço</label>
                <input class="form-control"
                       type="number"
                       step="0.01"
                       min="0"
                       name="preco"
                       required>
            </div>

            <div class="mb-3">
                <label class="form-label">Quantidade em estoque</label>
                <input class="form-control"
                       type="number"
                       min="0"
                       name="quantidade"
                       required>
            </div>

            <button class="btn btn-success">

                Cadastrar

            </button>

            <a class="btn btn-secondary"
               href="{% url 'produtos:produtos' %}">
                Voltar
            </a>

        </form>

    </div>

</div>

{% endblock %}