<h1>Editar cliente</h1>
<form method="POST">
    {% csrf_token %}
    <p><label>Nome:</label>
        <input type="text" name="nome" value="{{ produto.nome }}">
    </p>
    
    <p><label>Idade:</label>
        <input type="text" name="descricao" value="{{ produto.descricao }}">
    </p>
    
    <p><label>Telefone:</label> 
        <input type="number" name="preco" value="{{ produto.preco }}">
    </p>
    
    <p><label>Email:</label>
        <input type="number" name="quantidade" value="{{ produto.quantidade }}">
    </p>
    
    <button type="submit"> Salvar alterações </button>
    
    <a href="{% url 'produtos:detalhes' produto.id %}"> Cancelar </a>
</form>