<h1>Produtos cadastrados</h1>

<a href="{% url 'produtos:novo' %}">Adicionar novo produto</a>
<hr>

{% for produto in produtos %}
    <div>
        <h2>{{ produto.nome }}</h2>

        <p>Preço: R$ {{ produto.preco|floatformat:2 }}</p>
        <p>Quantidade em estoque: {{ produto.quantidade }}</p>
        {% if produto.quantidade == 0 %}
            <p><strong>❌ Produto sem estoque.</strong></p>
        {% elif produto.quantidade <= 5 %}
            <p><strong>⚠️ Estoque baixo.</strong></p>
        {% else %}
            <p><strong>✅ Estoque disponível.</strong></p>
        {% endif %}
        <p>Descrição: {{ produto.descricao }}</p>
        <p>Data de cadastro: {{ produto.data_cadastro|date:"d/m/Y H:i" }}</p>

        <a href="{% url 'produtos:detalhes' produto.id %}">Ver detalhes</a>
        
        <a href="{% url 'produtos:editar' produto.id %}">Editar</a>

        <a href="{% url 'produtos:excluir' produto.id %}"
           onclick="return confirm('Tem certeza que deseja excluir {{ produto.nome }}?');">
            Excluir
        </a>
    </div>
    <hr>
{% empty %}
    <p>Nenhum produto cadastrado.</p>
{% endfor %}