{% extends 'core/base.html' %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-success text-white">
        <h3 class="mb-0">Adicionar Cliente</h3>
    </div>

    <div class="card-body">

        <form action="{% url 'clientes:novo' %}" method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" type="text" name="nome" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Idade</label>
                <input class="form-control" type="number" name="idade" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Telefone</label>
                <input class="form-control" type="tel" name="telefone" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" name="email" required>
            </div>

            <button class="btn btn-success" type="submit">
                Cadastrar
            </button>

            <a href="{% url 'clientes:clientes' %}" class="btn btn-secondary">
                Voltar
            </a>

        </form>

    </div>

</div>

{% endblock %}