<h1>Detalhes do cliente</h1>
<h2>{{ cliente.nome }}</h2>
<p><strong>Email:</strong> {{ cliente.email }}</p>
<p><strong>Telefone:</strong> {{ cliente.telefone }}</p>
<p><strong>Idade:</strong> {{ cliente.idade }}</p>
<hr>
<h2>Histórico de compras</h2>
{% if compras %}
    {% for compra in compras %}
        <div>
            <p><strong>Data:</strong> {{ compra.data|date:"d/m/Y H:i" }}</p>
            <p><strong>Valor:</strong> R$ {{ compra.valor_total|floatformat:2 }}</p>

            <a href="{% url 'vendas:detalhes' compra.id %}">
                Ver detalhes da compra
            </a>
        </div>

        <hr>
    {% endfor %}
{% else %}
<p>Este cliente ainda não possui compras.</p>
{% endif %}
<br>
<a href="{% url 'clientes:editar' cliente.id %}">Editar cliente</a>
<a href="{% url 'clientes:excluir' cliente.id %}"
   onclick="return confirm('Tem certeza que deseja excluir {{ cliente.nome }}?');">
    Excluir cliente
</a>
<br><br>
<a href="{% url 'clientes:clientes' %}">Voltar para lista de clientes</a>