{% extends 'core/base.html' %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-warning">
        <h3 class="mb-0">Editar Cliente</h3>
    </div>

    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input class="form-control" type="text" name="nome" value="{{ cliente.nome }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Idade</label>
                <input class="form-control" type="number" name="idade" value="{{ cliente.idade }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Telefone</label>
                <input class="form-control" type="tel" name="telefone" value="{{ cliente.telefone }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" type="email" name="email" value="{{ cliente.email }}">
            </div>

            <button class="btn btn-warning">
                Salvar Alterações
            </button>

            <a class="btn btn-secondary"
               href="{% url 'clientes:detalhes' cliente.id %}">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}