{% extends 'core/base.html' %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-header bg-success text-white">

        <h3 class="mb-0">Registrar Venda</h3>

    </div>

    <div class="card-body">

        {% if erro %}

        <div class="alert alert-danger">

            {{ erro }}

        </div>

        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <div class="mb-3">

                <label class="form-label">
                    Cliente
                </label>

                <select class="form-select" name="cliente">

                    {% for cliente in clientes %}

                        <option value="{{ cliente.id }}">
                            {{ cliente.nome }}
                        </option>

                    {% endfor %}

                </select>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Produto
                </label>

                <select class="form-select" name="produto">

                    {% for produto in produtos %}

                        <option value="{{ produto.id }}">
                            {{ produto.nome }}
                        </option>

                    {% endfor %}

                </select>

            </div>

            <div class="mb-3">

                <label class="form-label">
                    Quantidade
                </label>

                <input
                    class="form-control"
                    type="number"
                    min="1"
                    name="quantidade"
                    required>

            </div>

            <button class="btn btn-success">

                Registrar Venda

            </button>

            <a href="{% url 'vendas:vendas' %}"
               class="btn btn-secondary">

                Voltar

            </a>

        </form>

    </div>

</div>

{% endblock %}